<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="configFragment">

     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <!-- Favicon -->
     <link rel="shortcut icon" type="image/x-icon"
      href="/assets/img/gs_icon.png">

     <title>IT Edu</title>

     <!-- DashForge CSS -->
     <link rel="stylesheet" href="/assets/css/dashforge.css">
     <link rel="stylesheet" href="/assets/css/dashforge.dashboard.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

     <!-- Header -->
     <link rel="stylesheet" href="/assets/css/navBar.css">
     <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

     <!-- Login CSS -->
     <link rel="stylesheet" href="/assets/css/sliderLogin.css">

     <!-- lecture -->
     <link rel="stylesheet" href="/assets/css/contents.css">
     <link rel="stylesheet" href="/assets/css/createLecutre.css">
     <script type="text/javascript" src="/assets/js/upload-lecture.js"></script>
</head>
</html>