<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:fragment="configFragment">

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Favicon -->
      <link rel="shortcut icon" type="image/x-icon" href="/assets/img/gs_icon.png">

      <title>CareerSystem</title>

      <!-- DashForge CSS -->
      <link rel="stylesheet" href="/assets/css/dashforge.css">
      <link rel="stylesheet" href="/assets/css/dashforge.dashboard.css">
      <link rel="stylesheet" href="../assets/css/dashforge.demo.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    </head>

</html>