<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <!-- [ Header ] start -->
    <header class="navbar navbar-header navbar-header-fixed" th:fragment="headerFragment">
      <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
      <div class="navbar-brand">
        <a href="/" class="df-logo"><img width="130px" src="/assets/img/gsitm_logo.png"/></a>
      </div><!-- navbar-brand -->
      <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
          <a href="/" class="df-logo"><img width="130px" src="/assets/img/gsitm_logo.png"/></a>
          <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        <ul class="nav navbar-menu">
          <li class="nav-item"><a href="../../components/" class="nav-link"><i data-feather="box"></i> Components</a></li>
          <li class="nav-item"><a href="../../collections/" class="nav-link"><i data-feather="archive"></i> Collections</a></li>
        </ul>
      </div><!-- navbar-menu-wrapper -->
    </header>


</html>