<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<body layout:fragment="content">
    <div style="background-color: rgb(82, 82, 82); width: 100%; height: 200px; padding-top: 17px;">
        <div style="width: 75%; height: 90%; margin: 0px auto;">
            <div style="float: left; margin-right: 20px;">
                <img th:src="|/images/${lecture.lectureThumbnail}|" style="width: 300px; height: 165px; border-radius: 3vh;">
            </div>
            <div style="height: 100%; vertical-align: middle; padding-top: 20px;">
                <div style="color: white; margin: 10px;">
                    <h2 style="font-weight: bolder; text-align: left;" th:text="${lecture.lectureName}"></h2>
                    <h4 th:text="${lecture.lectureTeacher}"></h4>
                </div>
            </div>
        </div>
    </div>
    <div id="rightMenu" style="z-index: 1; position: absolute; top: 80px; right: 100px; z-index: 1; width: 320px; background-color: white; border: 1px solid gray; border-radius: 4vh; box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .05); transition: top .5s; overflow: hidden; padding: 20px;">
        <div style="width: 100%">
            <label style="color: gray;">가격</label>
            <p class="mg-t-0 mg-b-20" style="font-size: x-large;" th:text="'₩' + ${lecture.lecturePrice}"></p>
            <form th:action="@{/lecture/apply/{lectureNo} (lectureNo = ${lecture.lectureNo})}" method="post">
                <button th:if="${isClassListen} == false" type="submit" class="btn btn-dark" style="width: 250px; height: 50px; margin-bottom: 20px; margin-left: 15px; background-color: rgb(65, 65, 65); color: white; font-weight: bolder;">수강신청</button>
                <button th:if="${isClassListen} == true" type="submit" disabled="disabled" class="btn btn-dark" style="width: 250px; height: 50px; margin-bottom: 20px; margin-left: 15px; background-color: rgb(65, 65, 65); color: white; font-weight: bolder;">이미 수강신청 했습니다.</button>
            </form>
            <label style="color: gray;">기간</label><br>
            <p class="mg-t-0 mg-b-20" style="font-size: large;" th:text="${lecture.lecturePeriod}"></p>
            <label style="color: gray;">지식 공유자</label><br>
            <p class="mg-t-0 mg-b-20" style="font-size: large;" th:text="${lecture.lectureTeacher}"></p>
            <label style="color: gray;">수강정보</label><br>
            <p class="mg-t-0 mg-b-20" style="font-size: large;" th:text="${lecture.lectureContents}"></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript">
       $(window).scroll(function(){
            $("#rightMenu").stop().animate({"marginTop": ($(window).scrollTop()) + "px", "marginRight":($(window).scrollLeft()) + "px"}, "slow" );
       });
    </script>
    <script th:inline="javascript">
         /*<![CDATA[*/
         var result = [[ ${error} ]];
         /*]]*/

         $(document).ready(function(){
        	 if(result){
        		 alert(result);
        	 }
         });
    </script>
    <div style="padding-left: 160px; padding-right: 480px; padding-top: 10px;">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="home-tab" data-toggle="tab" aria-expanded="true" role="tab" aria-controls="home" aria-selected="true" style="font-weight: bold">후기</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active in" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div style="width: 100%; padding-top: 10px">
                   <div th:each="comment : ${commentList}" style="width: 100%; border-left: 3px solid gray; padding-left: 10px; margin: 20px; display: flex;">
                       <div style="width: 80%; float: left;">
                           <p class="mg-0" style="font-size: small;"><strong style="font-size: large" th:text="${comment.userEmail}"></strong> | <b th:text="${comment.updateTime}"></b></p>
                           <p class="mg-0" th:text="${comment.commentsContents}"></p>
                       </div>
                           <div style="width: 20%; margin-top: 20px">
                           <!-- 수정은 추후 구현
                               <a href="#">
                                   <button style="border: none;">수정</button>
                               </a>
                            -->
                               <a th:if="${session.member} != null and ${session.member.memberEmail} == ${comment.userEmail}" href="/ITEdu/commentsDelete.do?commentsNo=<%= commentsVO.getComment_no_sub() %>&lectureNo=<%= commentsVO.getLecture_no() %>">
                                   <button style="border: none;">삭제</button>
                               </a>
                           </div>
                   </div>
                   <div th:if="${commentsDTO}" style="width: 100%; text-align: center">
                       <p style="font-size: x-large; margin-bottom: 30px; margin-top: 30px;"> 등록된 후기가 없습니다.</p>
                   </div>
            </div>
            <div style="display: block; min-height: 130px; padding: 30px; margin-bottom: 100px">
                <form th:object="${commentsDTO}" th:action="@{/comments/register/{lectureNo} (lectureNo = ${lecture.lectureNo})}" method="post">
                    <input th:if="${session.member} != null and ${isClassListen} == true" th:name="commentsContents" placeholder="후기를 입력하세요." style="height: 50px; width: 80%; float: left;">
                    <button class="btn-secondary" th:if="${session.member} != null and ${isClassListen} == true" type="submit" style="height: 50px; width: 20%; border: none; float: left;">입력</button>
                    <input th:if="${session.member == null}" readonly="readonly" placeholder="수강신청한 인원만 작성할 수 있습니다." style="height: 50px; width: 80%; float: left;">
                    <button th:if="${session.member == null}" class="btn-secondary" type="submit" disabled="disabled" style="height: 50px; width: 20%;">입력</button>
                </form>
            </div>
        </div>
      </div>
    </div>
</body>
</html>
