<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/lectureListLayout">
<body th:fragment="contentFragment">
<!--     <div class="search-container" style="width: 100%; height: 70px;">
        <form action="#search_action">
            <button type="submit"><i class="fa fa-search"></i></button>
            <input type="text" placeholder="강의 검색하기" name="search" id="myInput">
        </form>
    </div> -->
    <div id="contents_container">
        <div id="contents_title">
            <p><b>전체</b> | <b th:text="${category1}"></b> | <strong th:text="${category2}"></strong></p>
        </div>
        <div id="contents_content">
           <div th:each="lec : ${lecture}" class="content_container" id="content_container" style="width: 214px; height: 330px; margin: 20px; flex-wrap: wrap; flex-direction: row;">
                <div id="content_a" th:attr="onclick=|location.href='/lecture/'+'@{detail/{lectureNo}(lectureNo = ${lec.lectureNo})}'|">
                    <div>
                        <figure>
                             <img th:src="|/images/${lec.lectureThumbnail}|" id="lecure_img"/>
                        </figure>
                    </div>
                    <div id="content_title" th:text="${lec.lectureName}"></div>
                    <div class="content_inContents" th:text="${lec.lectureTeacher}" style="margin-left: 5px;"></div>
                    <div class="content_inContents" th:text="${lec.lecturePrice}" style="margin-left: 5px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>