<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
  <body layout:fragment="content">
  <div id="notice_area" style="width: 100%; height: 490px; padding-top: 10px;">
        <div style="width: 75%; height: 90%; background-color: white; margin: 0px auto;">
            <div style="width: 100%; height: 50px;">
                <h2 style="font-weight: bold;">공지사항</h2>
            </div>
            <div style="width: 100%; height: 350px;">
                <table border="1" style="width: 100%;">
                    <thead>
                        <tr style="height: 50px; text-align: center;">
                            <td style="color: white; background-color: gray; font-weight: bold; border-bottom: 1px solid black;">제목</td>
                            <td style="width: 25%" th:text="${notice[0].noticeTitle}"></td>
                            <td style="color: white; background-color: gray; font-weight: bold; border-bottom: 1px solid black;">조회수</td>
                            <td style="width: 25%" th:text="${notice[0].noticeClicknum}"></td>
                        </tr>
                        <tr style="height: 50px; text-align: center;">
                            <td style="color: white; background-color: gray; font-weight: bold;">작성자</td>
                            <td style="width: 25%" th:text="${notice[0].noticeWriter}"></td>
                            <td style="color: white; background-color: gray; font-weight: bold;">작성일</td>
                            <td style="width: 25%" th:text="${notice[0].updateTime}"></td>
                        </tr>
                        <tr style="height: 30px; text-align: center;"></tr>
                    </thead>
                    <tbody>
                        <tr style="height: 50px; text-align: center;">
                            <td colspan="4" style="height: 200px;" th:text="${notice[0].noticeContents}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="width: 100%; height: 10%;">
                <a th:href="@{/notice/update/{noticeNo} (noticeNo = ${notice[0].noticeNo})}">
                    <input type="button" value="수정" style="border: none; background-color: gray; color: white; width: 100px; height: 40px; border-radius: 3vh; font-weight: bold; margin-left: 350px;"/>
                </a>
                <a th:href="@{/notice/delete/{noticeNo}(noticeNo = ${notice[0].noticeNo})}">
                    <input type="button" value="삭제" style="border: none; background-color: gray; color: white; width: 100px; height: 40px; border-radius: 3vh; font-weight: bold;"/>
                </a>
                <a th:href="@{/notice/list?num=1}" style="font-weight: bold; float: right;">목록</a>
            </div>
        </div>
    </div>
  </body>
</html>
