<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
  <body layout:fragment="content">
    <div id="notice_area" style="width: 100%; height: 490px;">
        <div style="width: 70%; height: 90%; background-color: white; margin: 0px auto;">
            <div style="width: 100%; height: 110px;">
                <h1 style="font-weight: bold;">공지사항</h1>
            </div>
            <div style="width: 100%; height: 300px; border: 2px solid gray; border-radius: 3vh; padding: 20px;">
                <form role="form" th:object="${modifyDTO}" th:action="@{/notice/update/{noticeNo} (noticeNo = ${notice[0].noticeNo})}" method="post">
                    <div style="width: 100%; height: 20%; margin-bottom: 20px;">
                        <label>제목</label><br>
                        <input th:name="noticeTitle" name="title" type="text" th:value="${notice[0].noticeTitle}" style="width: 100%; height: 30px;"/>
                    </div>
                    <div style="width: 100%; height: 60%; margin-bottom: 50px">
                        <label>내용</label><br>
                        <input th:name="noticeContents" name="contents" type="text" th:value="${notice[0].noticeContents}" style="width: 100%; height: 140px;"/>
                    </div>
                    <div style="width: 100%; height: 30%;">
                        <input type="submit" value="수정" style="border: none; background-color: gray; color: white; width: 100px; height: 40px; border-radius: 3vh; font-weight: bold; margin-left: 350px;"/>
                        <a href="/notice/" style="font-weight: bold; float: right;">목록</a>
                    </div>
                 </form>
            </div>
        </div>
    </div>
  </body>
</html>
