<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
  <body layout:fragment="content">
  <div id="notice_area" style="width: 100%; height: 490px;">
        <div style="width: 70%; height: 100%; background-color: white; margin: 0px auto;">
            <div style="width: 100%; height: 100px;">
                <h1 class="pd-t-30" style="font-weight: bold;">공지사항</h1>
            </div>
            <div style="width: 100%; height: 350px; border: 2px solid gray; border-radius: 3vh; padding: 20px;">
                <form role="form" th:object="${noticeDTO}" th:action="@{/notice/insert}" method="post">
                    <div style="width: 100%; height: 20%; margin-bottom: 20px;">
                        <label>제목</label><br>
                        <input th:name="noticeTitle" type="text" placeholder="제목을 입력하세요" style="width: 100%; height: 30px;"/>
                    </div>
                    <div style="width: 100%; height: 65%">
                        <label>내용</label><br>
                        <input th:name="noticeContents" type="text" placeholder="내용을 입력하세요" style="width: 100%; height: 140px; margin-bottom: 20px"/>
                    </div>
                    <div style="width: 100%; height: 20%;">
                        <input type="submit" value="등록" style="float: left; border: none; background-color: gray; color: white; width: 100px; height: 40px; border-radius: 3vh; font-weight: bold; margin-left: 330px;"/>
                    </div>
                </form>
                <a th:href="@{/notice/list?num=1}">
                    <input type="submit" value="취소" style="border: none; background-color: gray; color: white; width: 100px; height: 40px; border-radius: 3vh; font-weight: bold; margin-left: 10px;"/>
                </a>
            </div>
        </div>
    </div>
  </body>
</html>
