<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.career.mapper.AcademyMapper">
    <insert id="signUp">
        INSERT INTO academy(academy_email, ACADEMY_PW, ACADEMY_NAME) VALUES(#{PARAM1}, #{PARAM2}, #{PARAM3})
    </insert>

    <select id="getAcademyInfo" resultType="AcademyDTO">
        SELECT *
        FROM academy
        WHERE academy_email = #{PARAM1}
    </select>

    <select id="getPasswordAcademy" resultType="java.lang.String">
        SELECT ACADEMY_PW
        FROM academy
        WHERE academy_email = #{PARAM1}
    </select>

    <select id="academyList" resultType="AcademyDTO">
        SELECT *
        FROM academy
    </select>

    <update id="academyApprove">
        UPDATE academy
        SET academy_useYN = 1
        WHERE academy_email = #{PARAM1}
    </update>
</mapper>