<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.career.mapper.MemberMapper">
    <select id="selectUser" resultType="MemberDTO">
        SELECT * FROM member
    </select>

    <insert id="memberInsert">
        INSERT INTO member(MEMBER_EMAIL, MEMBER_PW, MEMBER_NAME, MEMBER_POSTNO, MEMBER_ADDR)
        VALUES(#{id}, #{password}, #{name}, #{postCode}, #{address})
    </insert>

    <select id="getPassword" resultType="java.lang.String">
        SELECT MEMBER_PW
        FROM member
        WHERE MEMBER_EMAIL = #{PARAM1}
    </select>

    <select id="getMemberInfo" resultType="MemberDTO">
        SELECT *
        FROM member
        WHERE MEMBER_EMAIL = #{PARAM1}
    </select>
</mapper>