<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsitm.career.mapper.NoticeMapper">
    <select id="selectNotice" resultType="NoticeDTO">
        SELECT notice_no, notice_title, notice_writer, notice_contents, notice_clickNum, DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time, DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time, use_YN
        FROM notice
        WHERE USE_YN = 1
        ORDER BY notice_no DESC
        LIMIT #{displayPost}, #{postNum}
    </select>

    <insert id="savePost">
        INSERT INTO notice(NOTICE_TITLE, NOTICE_CONTENTS)
        VALUES(#{PARAM1}, #{PARAM2})
    </insert>

    <select id="noticeRead" resultType="com.gsitm.career.mybatis.type.CamelCaseMap">
        SELECT notice_no, notice_title, notice_writer, notice_contents, notice_clickNum, DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time, DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time, use_YN
        FROM notice
        WHERE NOTICE_NO = #{PARAM1}
    </select>

    <update id="updateNotice">
        UPDATE notice
        SET NOTICE_TITLE = #{title}, NOTICE_CONTENTS = #{Contents}
        WHERE NOTICE_NO = #{noticeNo}
    </update>

    <update id="deleteNotice">
        UPDATE notice
        SET USE_YN = 0
        WHERE NOTICE_NO = #{PARAM1}
    </update>

    <select id="noticeCount" resultType="int">
        SELECT count(notice_no)
        FROM notice
        WHERE USE_YN = 1
    </select>

    <select id="selectViews" resultType = "int">
        SELECT notice_clickNum
        FROM notice
        WHERE NOTICE_NO = #{noticeNo}
    </select>

    <update id="updateSelectViews">
        UPDATE notice
        SET notice_clickNum = #{addClickNum}
        WHERE NOTICE_NO = #{noticeNo}
    </update>

    <select id="noticeSearchTitle" resultType="NoticeDTO">
        SELECT notice_no, notice_title, notice_writer, notice_contents, notice_clickNum, DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time, DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time, use_YN
        FROM notice
        WHERE notice_title = #{keyword}
    </select>

    <select id="noticeSearchDate" resultType="NoticeDTO">
        SELECT notice_no, notice_title, notice_writer, notice_contents, notice_clickNum, DATE_FORMAT(create_time, '%Y-%m-%d') AS create_time, DATE_FORMAT(update_time, '%Y-%m-%d') AS update_time, use_YN
        FROM notice
        WHERE create_time = #{keyword}
    </select>
</mapper>