<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/basic">
<body layout:fragment="content">
<div style="background-color: rgba(43, 43, 43, 0.1);; width: 100%; height: 537px; padding-left: 200px; padding-right: 200px; padding-top:50px; padding-bottom: 50px;">
        <div style="background-color: white; float: left; width: 60%; height: 100%; border-radius: 12% 0% 0% 12%;">
            <div style="text-align: center; width: 100%; height: 40px;">
                <h2 style="font-weight: bold; color:  rgb(43, 43, 43);">Contact Us</h2>
            </div>
            <div style="width: 100%; margin-left: 50px;">
                <form role="form" th:object="${academyDTO}" th:action="@{/academy/signUp}" method="post">
                    <div style="margin: 10px;">
                        <label style="font-size: small;">학원 이메일</label><br>
                        <input th:name="academyEmail" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 400px; height: 40px;">
                    </div>
                    <div style="margin: 10px;">
                        <label style="font-size: small;">비밀번호</label><br>
                        <input th:name="academyPw" type="password" class="form-control" id="exampleFormControlInput1" placeholder="비밀번호를 입력하세요." style="width: 400px; height: 40px;">
                    </div>
                    <div style="margin: 10px;">
                        <label style="font-size: small;">비밀번호 확인</label><br>
                        <input name="academyPwCheck" type="password" class="form-control" id="exampleFormControlInput1" placeholder="비밀번호를 입력하세요." style="width: 400px; height: 40px;">
                    </div>
                    <div style="margin: 10px;">
                        <label style="font-size: small;">학원 이름</label><br>
                        <input th:name="academyName" type="text" class="form-control" id="exampleFormControlInput1" placeholder="학원 이름을 입력하세요." style="width: 400px; height: 40px;">
                    </div>
                    <div style="margin-left: 150px; margin-top: 20px;">
                        <button type="submit" style="border: none; border-radius: 3vh; font-size: medium; height: 40px; width: 90px; background-color: rgb(43, 43, 43); color: white;">등록</button>
                    </div>
                </form>
            </div>
        </div>
        <div style="background-color: rgb(43, 43, 43); float: left; width: 40%; height: 100%; border-radius: 0% 12% 12% 0%;">
            <div style="width: 75%; height: 80%; margin: 0px auto; text-align: center; color: white;">
                <p>
                    <h3 style="font-weight: bold;">제휴 안내</h3>
                </p>
                <p style="text-align: left; margin-top: 30px;">
                    <strong>ITEdu</strong> 사이트는 다양한 IT 교육 추천 및 후기를 공유하는 커뮤니티입니다.<br><br>
                    해당 사이트에 강의를 등록하길 희망하는 학원 및 교육 기간인 <strong>Contact Us</strong> 폼을 작성해주세요.<br><br>
                    회원 가입 후, <strong style="color: red;">관리자의 승인있어야 서비스 이용이 가능합니다. </strong> 소요시간은 <strong>1~2일</strong> 이내이며, 원활한 서비스를 위해 항상 노력하겠습니다. <br><br>
                    감사합니다.
                </p>
            </div>
        </div>
    </div>
</body>
</html>
