<!DOCTYPE html>
<html
      lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="lnbFragment">
    <div id="lnNavBar_bg">
        <div id="lnbNavBar">
            <ul>
                <li>
                    <a th:href="@{/lecture/Programming/Web}">
                        <i class="fas fa-desktop" aria-hidden="true" style="margin: 0 auto; color:#ffffff; font-size:40px; display: block; margin: 0px auto;"></i>
                        <span>Web</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/lecture/Programming/Mobile}">
                        <i class="fas fa-mobile" aria-hidden="true" style="margin: 0 auto; color:#ffffff; font-size:40px; display: block;"></i>
                        <span>Mobile</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/lecture/Programming/Game}">
                        <i class="fas fa-gamepad" aria-hidden="true" style="margin: 0 auto; color:#ffffff; font-size:40px; display: block;"></i>
                        <span>Game</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/lecture/Programming/PL}">
                        <i class="fab fa-java" aria-hidden="true" style="margin: 0 auto; color:#ffffff; font-size:40px; display: block;"></i>
                        <span>PL</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/lecture/Programming/Algorithm}">
                        <i class="fas fa-brain" aria-hidden="true" style="margin: 0 auto; color:#ffffff; font-size:40px; display: block;"></i>
                        <span>Algorithm</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/lecture/Programming/Framework}">
                        <i class="fab fa-react" aria-hidden="true" style="margin: 0 auto; color:#ffffff; font-size:40px; display: block;"></i>
                        <span>Framework</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>